{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  block title  %}Default Title{%  endblock  %}</title>
    {% comment %} <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" /> {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @tailwind base;
        @tailwind components;
        @tailwind utilities;
    </style>

</head>
<body>
    {% block nav %}{% include 'includes/navbar.html' %}{% endblock nav %}
    
    <h1 class="text-2xl text-center text-gray-500">
        {% if request.user.is_authenticated %}
            You are logged in
        {% else %}
            You are logged out
        {% endif %}
    </h1>
    <hr>

    {%  block body  %}{%  endblock %}
    {% block modal %}{% include 'includes/modal.html' %}{% endblock modal %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/ajaxSetup.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://flowbite.com/docs/flowbite.min.js?v=1.6.6a"></script>

</body>
</html>